@media screen and (max-width: 767px) {

    .navbar-nav {
        flex-direction: column;
        text-align: left;
    }

     /* Cadastro */

    .campo {
        width: 95%;
        text-align: center;
    }   
    
    /* Fim Cadastro */

    /* Entrar */
    .campos2 {
        width: 95%;
        height: 45px;
    }


    /* Fim Entrar */


   

 















}