body{
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    color: rgb(194, 28, 28);
    text-align: center;

}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}