.titulo-topo {

    background-color: #aaa;

}

.titulo-compra {

    background-color: rgb(189,175,266);

}

figure {

    background-color: #ccc;
}













/*body {
    background: #f44 url(../body-background.png) repeat-x top center fixed;
}*/

