body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #1f1d1d;
    color: #ffffff;
    height: 250px;

    padding: 0 0 30px;
}

footer{
    background-color: #464646;
    color: #ffffff;
    padding: 30px 30px;
}

nav{
    background-color: #383535;
}

.container{
    width: 50%;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
}
header .row {
    justify-content: space-between;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    width: 600px;
}

.navbar li:first-child a{
    background-color: rgb(18, 167, 18);
}

.navbar a {
    padding: 10px 20px;
    font-size: 0.7rem;
}

button{
    background-color: rgb(18, 167, 18);
    border: none;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;

}

.card-list{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.card{
    border: solid 1px grey;
    border-radius: 5px;
    padding: 20px 15px;
}
.card i {
    font-size: 3rem;
    color:#333;
    
}

a{
    color: #ffffff;
    text-decoration: none;
}

.button{
    background-color: #ffffff;
    color: rgb(18, 167, 18);
}

.branca{
    background-color: #ffffff;
    padding: 30px 0px;
}

.verde{
    background-color: rgb(18, 167, 18);
    color: #ffffff;
    padding: 30px 0px;

}

